/* assets/css/main.css */
@import url('base/_reset.css');
@import url('base/_variables.css'); /* Master default variables */
@import url('base/_components.css'); /* Base component styles */

body {
    font-family: var(--font-family-primary); /* Fallback, theme on #themed-area will usually override */
    margin: 0;
    line-height: 1.6;
    padding: 0; /* No global padding on body by default */
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
    body {
        /* Add padding at the bottom of the body to prevent
           content from being hidden by the fixed mobile nav banner */
        padding-bottom: 60px; /* Adjust this value based on mobile nav height + any desired gap */
    }
}

/* Fallback heading styles, theme specific styles will override */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-headings);
    color: var(--heading-color); 
}
